nserver 127.0.0.11
nserver 8.8.8.8
nscache 65536
timeouts 1 5 30 60 180 1800 15 60
log 
logformat "L%d-%m-%Y %H:%M:%S %z %N.%p %E %U %C:%c %R:%r %O %I %h %T"
maxconn 4096
auth strong

# Пользователи
#users user_new:CL:Password111
allow 
socks -p1080
