nserver 8.8.8.8

nscache 65536

timeouts 1 5 30 60 180 1800 15 60

log /var/log/3proxy.log D

logformat "L%d-%m-%Y %H:%M:%S %z %N.%p %E %U %C:%c %R:%r %O %I %h %T"

rotate 30

auth strong

# Пользователи
## CL - В текстовов виде
## CR - В зашифрованном виде
## Например openssl passwd -1 "MySecretPassword"
#users user_new:CL:Password111

allow

socks -p1080
