#!/bin/bash
set -e

if [ -z "$1" ]; then
    echo "Ошибка: Укажите имя пользователя!"
    echo "Использование: wg-add-user $USER_NAME"
    exit 1
fi

USERNAME=$1
CDIR="{{ wireguard_config_dir }}/clients/$USERNAME"

if [ -d "$CDIR" ]; then
    echo "Ошибка: Пользователь $USERNAME уже существует!"
    exit 1
fi

mkdir -p "$CDIR"

PRIV_KEY=$(wg genkey)
PUB_KEY=$(echo "$PRIV_KEY" | wg pubkey)
SERVER_PUB_KEY=$(cat {{ wireguard_config_dir }}/server_publickey)
SERVER_IP=$(curl -s4 ifconfig.me)

USED_IPS=$(grep -oE "10\.20\.0\.[0-9]+" /etc/wireguard/{{ wireguard_interface }}.conf || true)
for i in {2..254}; do
    if ! echo "$USED_IPS" | grep -q "10.20.0.$i"; then
    CLIENT_IP="10.20.0.$i"
    break
    fi
done

if [ -z "$CLIENT_IP" ]; then
    echo "Ошибка: В подсети закончились свободные IP адреса!"
    exit 1
fi

cat <<EOF > "$CDIR/$USERNAME.conf"
[Interface]
PrivateKey = $PRIV_KEY
Address = $CLIENT_IP/32
DNS = {{ wireguard_dns }}

[Peer]
PublicKey = $SERVER_PUB_KEY
Endpoint = $SERVER_IP:{{ wireguard_listenPort }}
AllowedIPs = 0.0.0.0/0
PersistentKeepalive = 20
EOF

wg set wg0 peer "$PUB_KEY" allowed-ips "$CLIENT_IP/32"

cat <<EOF >> {{ wireguard_config_dir }}/{{ wireguard_interface }}.conf

[Peer]
# Name = $USERNAME
PublicKey = $PUB_KEY
AllowedIPs = $CLIENT_IP/32
EOF

echo "======================================================"
echo "Пользователь $USERNAME успешно добавлен!"
echo "Конфиг сохранен в: $CDIR/$USERNAME.conf"
echo "======================================================"
echo "=== QR-КОД ДЛЯ СМАРТФОНА ============================="
qrencode -t ansiutf8 < "$CDIR/$USERNAME.conf"
echo "======================================================"
